<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <form action="/contato" method="post">
        <div>
            <label for="name">Informe o seu nome:</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div>
            <label for="ingredientes">Ingredientes:</label>
            <textarea name="ingredientes" id="ingredientes" required></textarea>
        </div>
        <button type="submit">Enviar</button>
    </form>
    <a href="/contato">Contato</a>
</body>
</html>